@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #282828;
  font-family: "Roboto";
  font-size: 14px;
  color: black;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
  background-color: white;
}

.header {
  background-image: url(../img/head-picture.png);
  width: 100%;
  height: 671px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 0;
}

.header__h3 {
  color: #cccccc;
  font-size: 20px;
  padding-left: 15.7142857143%;
  padding-right: 47.1428571429%;
  padding-top: 20.7142857143%;
}

.header__h1 {
  color: #ffffff;
  line-height: 100%;
  font-size: 50px;
  padding-left: 15.7142857143%;
  padding-right: 47.1428571429%;
  padding-bottom: 0.7142857143%;
}

.header__info {
  color: #ffffff;
  line-height: 21px;
  padding-left: 15.7142857143%;
  padding-right: 47.1428571429%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-left: 16.4285714286%;
  padding-right: 16.4285714286%;
}

.gallery__info {
  display: flex;
  max-width: 660px;
  height: 160px;
}

.gallery__pictures {
  display: flex;
  flex-wrap: nowrap;
  max-width: 700px;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.gallery__pictures img {
  width: 100%;
  height: 100%;
}

.gallery__row0 {
  flex: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 700px;
}

.gallery__row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
  max-height: 539px;
}

.gallery__row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 400px;
  max-height: 539px;
}

.gallery__row3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 190px;
}

.gallery__line {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 250px;
  max-width: 420px;
}

.gallery__title {
  font-size: 30px;
  padding-top: 4.7142857143%;
  padding-right: 3.5714285714%;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  text-align: center;
}

.gallery__text {
  font-size: 14px;
  padding-top: 3.5714285714%;
}

.gallery__ladder {
  display: flex;
  margin-left: 1.4285714286%;
  position: absolute;
  top: 81.0714285714%;
}

.gallery__ladder img {
  width: 100%;
  height: 100%;
}

.middle {
  background-image: url(../img/Layer31.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 326px;
  margin-top: 5.3571428571%;
  margin-bottom: 5.3571428571%;
  text-align: center;
}

.middle__tittle {
  color: #f2f3f2;
  line-height: 20px;
  font-size: 23px;
  font-weight: 300;
  padding-top: 7.1428571429%;
  padding-bottom: 2.8571428571%;
}

.middle__information {
  font-size: 13px;
  line-height: 26px;
  color: #f2f3f2;
  padding-left: 27.8571428571%;
  padding-right: 27.8571428571%;
  text-align: justify;
}

.statistics {
  margin-right: 16.4285714286%;
  margin-left: 16.4285714286%;
  margin-bottom: 8.5714285714%;
  text-align: justify;
}

.statistics__tittle {
  font-size: 30px;
  line-height: 57px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 3.5714285714%;
}

.statistics__subtittle {
  font-size: 30px;
  line-height: 57px;
}

.statistics__information {
  line-height: 25px;
  padding-bottom: 2.8571428571%;
}

.statistics__columns {
  -moz-column-count: 4;
       column-count: 4;
  text-align: center;
  line-height: 0;
  font-size: 17px;
  font-weight: 400;
  padding-left: 5.7142857143%;
  -moz-column-gap: 3.5714285714%;
       column-gap: 3.5714285714%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.statistics__column1 {
  max-width: 100px;
}

.statistics__column2 {
  max-width: 100px;
}

.statistics__column3 {
  max-width: 100px;
}

.statistics__column4 {
  max-width: 100px;
}

.statistics__columns-tittle {
  font-size: 28px;
  line-height: 57px;
  font-weight: 500;
}

.video {
  background-image: url(../img/Layer32.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1000px;
}

.video__player {
  width: 55.7142857143%;
  height: 440px;
  padding-left: 22.1428571429%;
  padding-top: 6.4285714286%;
}

@media (max-width: 1024px) {
  .statistics__columns {
    padding-left: 0;
  }
}

@media (max-width: 760px) {
  .statistics__columns {
    line-height: 100%;
  }
}
@supports (-webkit-appearance:none){
.header{background-image:url(../img/head-picture.webp)}
.middle{background-image:url(../img/Layer31.webp)}
.video{background-image:url(../img/Layer32.webp)}
}

 @media (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 760px){

@supports (-webkit-appearance:none){

}

}
